@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$blue-palette, A200, A100, A400);
$warn:    mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($theme);

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f4f6f9;
  color: #222;
}

